<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商城首页</title>
    <link rel="stylesheet" href="static/index/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="static/index/css/GL.css">
    <script src="static/index/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/index/js/swiper-3.4.2.jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/index/js/swiper-3.4.2.min.js"></script>
</head>

<body>
<header>
    <!--头部-->
    <div class="header_head">
        <div class="header_head_box">
            <a href="http://renchao05.top" class="img"><img src="static/index/img/logo.png"/></a>
            <ul>
                <li>
                    <a th:if="${session.user == null}" href="http://auth.renchao05.top/login.html">你好，请登录</a>
                    <a th:if="${session.user != null}">[[${session.user.username}]]</a>
                    <a th:if="${session.user != null}" href="http://auth.renchao05.top/logout"> | 注销</a>
                </li>
                <li>
                    <a th:if="${session.user == null}" href="http://auth.renchao05.top/reg.html" class="li_2">免费注册</a>
                </li>
                <li>
                    <span>|</span>
                </li>
                <li>
                    <a href="http://order.renchao05.top/orderList.html">我的订单</a>
                </li>
            </ul>
        </div>
    </div>
    <!--搜索导航-->
    <div class="header_sous">
        <div class="header_form">
            <input id="searchText" type="text" placeholder=""/>
            <a href="#"><img src="static/index/img/img_09.png" onclick="search()"/></a>
        </div>
        <div class="header_ico">
            <div class="header_gw">
                <img src="static/index/img/img_15.png"/>
                <span><a href="http://cart.renchao05.top/cart.html">我的购物车</a></span>
            </div>
        </div>
        <div class="header_form_nav">
            <ul>
                <li>
                    <a href="http://search.renchao05.top/list.html?keyword=%E5%9B%9B%E4%BB%B6%E5%A5%97" class="aaaaa">四件套</a>
                </li>
                <li>
                    <a href="http://search.renchao05.top/list.html?keyword=%E8%A2%AB%E5%AD%90">被子</a>
                </li>
                <li>
                    <a href="http://search.renchao05.top/list.html?keyword=%E6%9E%95%E5%A4%B4">枕头</a>
                </li>
                <li>
                    <a href="http://search.renchao05.top/list.html?keyword=%E6%B2%99%E5%8F%91%E5%9E%AB">沙发垫</a>
                </li>
            </ul>
        </div>

    </div>
    <!--轮播主体内容-->
    <div class="header_main">
        <div class="header_banner">
            <div class="header_main_left">
                <ul>
                    <li th:each="category : ${categoryList}">
                        <a href="static/#" class="header_main_left_a" th:attr="ctg-data=${category.catId}"><b
                                th:text="${category.name}">家用电器</b></a>
                    </li>

                </ul>

            </div>
            <div class="header_main_center">
                <div class="swiper-container swiper1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="http://item.renchao05.top/45.html">
                                <img src="static/index/img/sijiantao.jpg"/>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="http://item.renchao05.top/114.html">
                                <img src="static/index/img/shafadian.jpg"/>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="http://item.renchao05.top/79.html">
                                <img src="static/index/img/cansibei.jpg"/>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="header_main_center_b">
                    <a href="http://search.renchao05.top/list.html?catalog3Id=400">
                        <img src="static/index/img/sijiantao-fl.jpg"/>
                    </a>
                    <a href="http://search.renchao05.top/list.html?catalog3Id=401">
                        <img src="static/index/img/beixin-fl.jpg"/>
                    </a>
                </div>

                <div class="header_main_center_b">
                    <a href="http://search.renchao05.top/list.html?catalog3Id=399">
                        <img src="static/index/img/shafadian-fl.jpg"/>
                    </a>
                    <a href="http://search.renchao05.top/list.html?catalog3Id=402">
                        <img src="static/index/img/zhentou-fl.jpg"/>
                    </a>
                </div>


            </div>
            <div class="header_main_right">
                <div class="header_main_right_user">
                    <div class="user_info">
                        <div class="user_info_tou">
                            <a href="static/#"><img class="" src="static/index/img/touxiang.png"></a>
                        </div>
                        <div class="user_info_show">
                            <p class="">Hi, 欢迎!</p>
                            <p th:if="${session.user == null}">
                                <a href="http://auth.renchao05.top/login.html" class="">登录</a>
                                <a href="http://auth.renchao05.top/reg.html" class="">注册</a>
                            </p>
                            <p th:if="${session.user != null}">
                                <a>[[${session.user.username}]]</a> <br>
                                <a href="http://order.renchao05.top/orderList.html">我的订单</a><br>
                                <a href="http://auth.renchao05.top/logout">注销</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="static/index/img/shuoming.png">
                </div>
            </div>
        </div>
    </div>
</header>

</body>

<script type="text/javascript" src="static/index/js/header.js"></script>

<script type="text/javascript" src="static/index/js/catalogLoader.js"></script>
</html>
