<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <script src="static/order/confirm/js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/order/confirm/css/JD2.css"/>
    <title>订单结算页</title>
</head>

<body>
<!--顶部-->
<header>
    <div class="header">
        <ul class="header-left">
            <li>
                <a href="http://renchao05.top">商城首页</a>
            </li>

        </ul>
        <ul class="header-right">
            <li>
                <a th:if="${session.user != null}">欢迎，[[${session.user.nickname}]]</a>
            </li>
            <li class="spacer"></li>
            <li><a href="http://order.renchao05.top/orderList.html">我的订单</a></li>

        </ul>
    </div>
</header>

<!--主体部分-->
<p class="p1">
    <span style="color: red" th:text="${error!=null?error:''}"></span>
</p>
<div class="section">
    <!--收货人信息-->
    <div class="top-2">
        <span>收货人信息</span>
    </div>

    <!--地址-->
    <div class="top-3" th:each="address : ${confirm.address}">
        <p th:attr="def=${address.defaultStatus},addr-id = ${address.id}">[[${address.name}]]</p><span>[[${address.name}]]  [[${address.province}]] [[${address.city}]] [[${address.region}]] [[${address.detailAddress}]] [[${address.phone}]]</span>
    </div>
    <div class="hh1"></div>

    <!--支付方式-->
    <h4 class="h4">支付方式</h4>

    <div class="top-6">
        <p>货到付款</p>
        <p><span>惠</span>在线支付</p>
    </div>
    <div class="hh1"></div>
    <!--送货清单-->
    <h4 class="h4" style="margin-top: 5px;">送货清单</h4>
    <div class="top_1">
        <div class="to_right">
            <!--图片-->
            <div class="yun1" th:each="item : ${confirm.items}">
                <img style="width: 90px;height: 90px" th:src="${item.image}" class="yun"/>
                <div class="mi">
                    <p>[[${item.title}]] <span style="color: red;"> ￥ [[${item.price}]]</span>
                        <span> x[[${item.count}]] </span> <span>[[${item.hasStock?'有货':'无货'}]]</span></p>
                    <p><span th:each="attr:${item.skuAttr}">[[${attr}]]</span> <span>0.095kg</span></p>
                    <p class="tui-1"><img src="static/order/confirm/img/i_07.png"/>支持7天无理由退货</p>
                </div>
            </div>
        </div>
    </div>
    <div class="xia">
        <div class="qian">
            <p class="qian_y">
                <span>[[${confirm.count}]]</span>
                <span>件商品，总商品金额：</span>
                <span class="rmb">￥[[${confirm.total}]]</span>
            </p>
            <p class="qian_y">
                <span>运费： </span>
                <span id="fare" class="rmb"> &nbsp ￥[[${confirm.fare}]]</span>
            </p>
        </div>

        <div class="yfze">
            <p class="yfze_a"><span class="z">应付总额：</span><span id="payPrice" class="hq">￥[[${confirm.payPrice}]]</span>
            </p>
            <p class="yfze_b">
                寄送至： [[${confirm.sa.city}]] [[${confirm.sa.region}]] [[${confirm.sa.detailAddress}]]
                收货人：[[${confirm.sa.name}]] [[${confirm.sa.phone}]]
            </p>
        </div>
        <form action="http://order.renchao05.top/submitOrder" method="post">
            <input type="hidden" name="orderToken" th:value="${confirm.orderToken}">
            <button class="tijiao" type="submit" style="cursor:pointer">提交订单</button>
        </form>
    </div>
</div>

<script src="static/order/my/confirm.js" charset="utf-8"></script>
</body>

</html>