<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/search/css/index.css">
    <link rel="stylesheet" type="text/css" href="static/search/font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="static/search/pagination/pagination.css">
    <!--<script src="static/search/./js/jquery-3.2.1.min.js"></script>-->
    <script src="static/search/js/jquery-1.12.4.js"></script>
    <script src="static/search/my/search-list.js"></script>
    <script src="static/search/pagination/jquery.pagination.js"></script>
    <title>商品搜索页</title>
</head>
<body>
<!--头部-->
<div class="header_head">
    <div class="header_head_box">
        <b class="header_head_p">
            <div style="overflow: hidden">
                <a href="#" class="header_head_p_a1" style="width:73px;">
                    商城首页
                </a>
            </div>
        </b>
        <ul>
            <li>
                <a th:if="${session.user == null}" href="http://auth.renchao05.top/login.html">你好，请登录</a>
                <a th:if="${session.user != null}">欢迎，[[${session.user.username}]]</a>
                <a th:if="${session.user != null}" href="http://auth.renchao05.top/logout"> | 注销</a>
            </li>
            <li>
                <a th:if="${session.user == null}" href="http://auth.renchao05.top/reg.html" class="li_2">免费注册</a>
            </li>
            <span>|</span>
            <li>
                <a href="http://order.renchao05.top/orderList.html">我的订单</a>
            </li>
        </ul>
    </div>
</div>

<!--搜索导航-->
<div class="header_sous">
    <div class="logo">
        <a href="http://renchao05.top"><img src="static/search/./image/logo1.jpg" alt=""></a>
    </div>
    <div class="header_form">
        <input type="text"/>
        <a href="#">搜索</a>
    </div>
    <div class="header_ico">
        <div class="header_gw">
            <span><a href="http://cart.renchao05.top/cart.html">我的购物车</a></span>
            <img src="static/search/image/settleup-@1x.png"/>
        </div>
        <div class="header_ko">
            <p>购物车中还没有商品，赶紧选购吧！</p>
        </div>
    </div>
    <div class="header_form_nav">
        <ul>
            <li>
                <a th:href="@{'/list.html?keyword=%E5%9B%9B%E4%BB%B6%E5%A5%97'}">四件套</a>
            </li>
            <li>
                <a th:href="@{'/list.html?keyword=%E8%A2%AB%E5%AD%90'}">被子</a>
            </li>
            <li>
                <a th:href="@{'/list.html?keyword=%E6%9E%95%E5%A4%B4'}">枕头</a>
            </li>
            <li>
                <a th:href="@{'/list.html?keyword=%E6%B2%99%E5%8F%91%E5%9E%AB'}">沙发垫</a>
            </li>
        </ul>
    </div>
</div>

<hr style="border: 1px solid red;margin-top: -7px;">

<!--商品筛选和排序-->
<div class="JD_banner w">
    <div class="JD_nav">
        <div class="JD_selector">
            <!--手机商品筛选-->
            <div class="title">
                <h3><em>商品筛选</em></h3>
            </div>
            <div class="JD_nav_logo">
                <!--品牌-->
                <div class="JD_nav_wrap" th:if="${!#arrays.isEmpty(result.brands)}">
                    <div class="sl_key">
                        <span>品牌：</span>
                    </div>
                    <div class="sl_value">
                        <div class="sl_value_logo">
                            <ul>
                                <li th:each="brands : ${result.brands}">
                                    <a style="cursor: pointer" th:attr = 'brand-id = ${brands.brandId}'>
                                        <img th:src="${brands.brandImg}" alt="">
                                        <div th:text="${brands.brandName}">
                                            华为(HUAWEI)
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--价格-->
                <div class="JD_pre">
                    <div class="sl_key">
                        <span>价格：</span>
                    </div>
                    <div class="sl_value" id="sku_price">
                        <ul>
                            <li class="sl_value_li">
                                <input type="text">
                                <p>-</p>
                                <input type="text">
                                <a style="cursor: pointer">确定</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--系统-->
                <div class="JD_pre JD_pre_attr" th:each="attrs : ${result.attrs}">
                    <div class="sl_key">
                        <span th:text="${attrs.attrName}">系统：</span>
                    </div>
                    <div class="sl_value">
                        <ul>
                            <li th:each="attrValue : ${attrs.attrValue}">
                                <a style="cursor: pointer" th:text="${attrValue}" th:attr = 'attr-id = ${attrs.attrId}'>0-安卓（Android）</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--排序-->
        <div class="JD_banner_main">
            <!--综合排序-->
            <div class="JD_con_right">
                <div class="filter">
                    <!--综合排序-->
                    <div class="filter_top">
                        <div class="filter_top_left">
                            <a href="#">综合排序</a>
                            <a href="#">销量</a>
                            <a href="#">价格</a>
                            <a href="#">评论分</a>
                            <a href="#">上架时间</a>
                        </div>
                    </div>
                    <!--排序内容-->
                    <div class="rig_tab">
                        <div th:each="products : ${result.products}">
                            <p class="da">
                                <a th:href="|http://item.renchao05.top/${products.skuId}.html|">
                                    <img th:src="${products.skuImg}" class="dim">
                                </a>
                            </p>
                            <ul class="tab_im">
                                <li><a href="#">
                                    <img th:src="${products.skuImg}"></a>
                                </li>
                            </ul>
                            <p class="tab_R">
                                <span th:text="${#numbers.formatDecimal(products.skuPrice,1,2)}">¥5199.00</span>
                            </p>
                            <p class="tab_JE">
                                <a href="#" th:utext="${products.skuTitle}">
                                    Apple iPhone 7 Plus (A1661) 32G 黑色 移动联通电信4G手机
                                </a>
                            </p>
                            <p class="tab_CP"><a href="#" title="商城客服">商城客服</a>
                                <a href='#' title="联系商城客服进行咨询">
                                    <img src="static/search/img/xcxc.png">
                                </a>
                            </p>
                            <div class="tab_FO">
                                <div class="FO_one">
                                    <p>自营
                                        <span>商城自营,品质保证</span>
                                    </p>
                                    <p>满赠
                                        <span>该商品未参加满赠活动</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--分页-->
                    <div class="filter_page">
                        <div class="page_wrap">
                            <div id="Pagination" class="pagination"><!-- 这里显示分页 --></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // 声明一个函数用于初始化 Pagination
    function initPagination() {
        // 获取分页数据中的总记录数
        var totalRecord = [[${result.total}]];
        // 声明 Pagination 设置属性的 JSON 对象
        var properties = {
            num_edge_entries: 2, // 边缘页数
            num_display_entries: 5, // 主体页数
            callback: pageSelectCallback, // 用户点击“翻页”按钮之后执行翻页操作的回调函数
            current_page: [[${result.pageNum - 1}]], // 当前页，pageNum 从 1 开始，必须-1 后才可以赋值
            prev_text: "上一页", next_text: "下一页",
            items_per_page: [[${result.pageSize}]] // 每页显示 1 项
        };
        // 调用分页导航条对应的 jQuery 对象的 pagination()方法生成导航条
        $("#Pagination").pagination(totalRecord, properties);
    }
</script>
</body>
</html>