<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="icon" href="static/cart/img/心04.png" type="/image/x-icon"/>
    <link rel="stylesheet" href="static/cart/css/One_bdyStyle.css">
    <link rel="stylesheet" href="static/cart/css/index.css">
    <script src="static/cart/js/jquery-3.1.1.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="static/cart/css/One_mainFoot.css">
    <link rel="stylesheet" href="static/cart/css/font-awesome-4.7.0/css/font-awesome.css"/>
</head>
<body>
<header>
    <a name="mao1">
        <div class="header">

            <ul class="header-left">
                <li>
                    <a href="http://renchao05.top/">首页</a>
                </li>

            </ul>
            <ul class="header-right">
                <li>
                    <a th:if="${session.user == null}" href="http://auth.renchao05.top/login.html">你好，请登录</a>
                    <a th:if="${session.user != null}">欢迎，[[${session.user.nickname}]]</a>
                </li>
                <li>
                    <a th:if="${session.user == null}" href="http://auth.renchao05.top/reg.html" class="li_2">免费注册</a>
                </li>
                <li class="spacer"></li>
                <li><a href="http://order.renchao05.top/orderList.html">我的订单</a></li>
                <li class="spacer"></li>

            </ul>
            <div style="clear: both;"></div>
        </div>

    </a>
</header>


<div class="one_search">

    <div class="one_sousuo">
        <div class="one_search_top">
            <div class="one_top_left">
                <a href="http://renchao05.top/" class="one_left_logo"><img src="static/cart/img/logo1.jpg"></a>
                <a href="#" class="one_left_link">购物车</a>
            </div>
        </div>
        <div class="one_search_load" th:if="${session.user}==null">
            <img src="static/cart/./img/shop_07.jpg" class="one_load_wraing">
            <span>您还没有登录！登录后购物车的商品将保存到您账号中</span>
            <a href="http://auth.renchao05.top/login.html"><input type="button" value="立即登录" class="one_load_btn"></a>
        </div>
    </div>
</div>
<div class="One_BdyShop">
    <div class="OneBdy_box">
        <div class="One_tabTop">
            <div class="One_Topleft">
                <span>全部商品 </span>
            </div>
        </div>
        <div class="One_ShopTop">
            <ul>
                <li><input type="checkbox" class="allCheck">全选</li>
                <li>商品</li>
                <li>单价</li>
                <li>数量</li>
                <li>小计</li>
                <li>操作</li>
            </ul>
        </div>

        <div class="One_ShopCon">
            <ul>
                <li th:each="cartInfo:${cart.items}">
                    <div></div>

                    <div>
                        <ol>
                            <li>
                                <input type="checkbox" class="itemCheck" th:attr="sku-id = ${cartInfo.skuId}"
                                       th:checked="${cartInfo.check}"/></li>
                            <li>
                                <dt><img th:src="${cartInfo.image}"></dt>
                                <dd style="width: 300px" th:onclick="'toItem('+${cartInfo.skuId}+')'">
                                    <p>
                                        <span th:text="${cartInfo.title}">TCL 55A950C 55英寸32核</span>
                                        <br>
                                        <span th:each="attr : ${cartInfo.skuAttr}"
                                              th:text="${attr}">TCL 55A950C 55英寸32核</span>
                                    </p>
                                </dd>
                            </li>
                            <li>
                                <p class="dj" th:text="'￥'+${cartInfo.price}">4599.00</p>
                            </li>
                            <li>
                                <p th:attr="sku-id=${cartInfo.skuId}">
                                    <span class="countOpsBtn">-</span>
                                    <span class="countOpsNum" th:text="${cartInfo.count}">5</span>
                                    <span class="countOpsBtn">+</span>
                                </p>
                            </li>
                            <li style="font-weight:bold">
                                <p class="zj" th:text="'￥'+${#numbers.formatDecimal(cartInfo.totalPrice,1,2)}">
                                    ￥22995.00</p>
                            </li>
                            <li>
                                <p id="deleteItem" th:attr="sku-id=${cartInfo.skuId}">删除</p>
                            </li>
                        </ol>
                    </div>
                </li>
            </ul>
        </div>
        <div class="One_ShopFootBuy fix1">
            <div>
                <ul>
                    <li><input type="checkbox" class="allCheck"><span>全选</span></li>
                </ul>
            </div>
            <div>
                <font style="color:#e64346;font-weight:bold;" class="sumNum"> </font>&nbsp;

                <ul>
                    <li><img src="static/cart/img/buyNumleft.png" alt=""></li>
                    <li><img src="static/cart/img/buyNumright.png" alt=""></li>
                </ul>
            </div>
            <div>
                <ol>
                    <li>总价:
                        <span th:if="${cart.items != null}" style="color:#e64346;font-weight:bold;font-size:16px;"
                              class="fnt"
                              id="formatDecimal" th:text="'￥' + ${#numbers.formatDecimal(cart.totalAmount,1,2)}"></span>
                        <span th:if="${cart.items == null}" style="color:#e64346;font-weight:bold;font-size:16px;"
                              class="fnt">￥0.00</span>
                    </li>

                </ol>
            </div>
            <div>
                <button onclick="toTrade()" type="button">去结算</button>
            </div>
        </div>
    </div>
</div>

<div class="One_isDel">
    <p>
        <span>删除</span><span><img src="static/cart/img/错误.png" alt=""></span>
    </p>
    <div>
        <dl>
            <dt><img src="static/cart/img/感叹三角形 (2).png" alt=""></dt>
            <dd>
                <li>删除商品？</li>
                <li>您可以选择移到关注，或删除商品。</li>
            </dd>
        </dl>
    </div>
    <div>
        <button type="button" onclick="deleteItem()">删除</button>

    </div>
</div>
<!--底部-->

<div class="one_footer">

</div>
</body>
<script src="static/cart/js/index.js" charset="utf-8"></script>
<script src="static/cart/my/cart.js" charset="utf-8"></script>

</html>
