<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="static/login/JD_sass/JD1.css"/>
    <script src="static/login/JD_js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <title>欢迎登录</title>
</head>
<body>
<!--顶部logo-->
<header>
    <a href="http://renchao05.top"><img src="static/login/JD_img/logo.jpg"/></a>
    <p>欢迎登录</p>
</header>

<!--大图-->
<div class="top-3">
    <div class="img_1">
        <img src="static/login/JD_img/5731485aN1134b4f0.png"/>
    </div>
    <div id="sign">
        <div class="si_cen">
            <h2 class="btn1">账户登录</h2>
        </div>
        <div class="si_bom1">
            <div class="error">
                <div></div>
                请输入账户名和密码
            </div>
            <form action="/login" method="post">
                <ul>
                    <li class="top_1">
                        <div style="color: red" th:text="${msg!=null?msg:''}"></div>
                        <div style="color: red" th:text="${session.msg!=null?session.msg:''}"></div>
                        <img src="static/login/JD_img/user_03.png" class="err_img1"/>
                        <input name="username" type="text" placeholder=" 邮箱/用户名/已验证手机" class="user"/>
                    </li>
                    <li>
                        <img src="static/login/JD_img/user_06.png" class="err_img2"/>
                        <input name="password" type="password" placeholder=" 密码" class="password"/>
                    </li>

                    <li class="ent">
                        <button class="btn2"><a>登 &nbsp; &nbsp;录</a></button>
                    </li>
                </ul>
            </form>
        </div>
        <div class="si_out">
            <ul>
                <li>
                    <a href="#">
                        <img src="static/login/JD_img/qq.png"/>
                        <span>QQ</span>
                    </a>
                </li>
                <li class="f4"> |</li>
                <li>
                    <a href="">
                        <img src="static/login/JD_img/weixin.png"/>
                        <span>微信</span>
                    </a>
                </li>
            </ul>
            <h5 class="rig">
                <img src="static/login/JD_img/4de5019d2404d347897dee637895d02b_25.png"/>
                <span><a href="/reg.html">立即注册</a></span>
            </h5>
        </div>
    </div>
</div>

</body>
<script src="static/login/my/login.js" charset="utf-8"></script>
</html>
